# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Vim
*.swp

# Org-mode
.org-id-locations
*_archive

# TextMate
*.tmproj
*.tmproject
tmtags

# Node.js

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
log
node_modules
npm-debug.log
grunt
